/* line 17, ../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Museo";
  src: url(/museo/Museo300-Regular-webfont.eot);
  src: url(/museo/Museo300-Regular-webfont.eot?iefix) format('eot'), url(/museo/Museo300-Regular-webfont.woff) format('woff'), url(/museo/Museo300-Regular-webfont.otf) format('opentype'), url(/museo/Museo300-Regular-webfont.svg) format('svg');
}

@font-face {
  font-family: "MuseoBold";
  src: url(/museo/Museo700-Regular-webfont.eot);
  src: url(/museo/Museo700-Regular-webfont.eot?iefix) format('eot'), url(/museo/Museo700-Regular-webfont.woff) format('woff'), url(/museo/Museo700-Regular-webfont.otf) format('opentype'), url(/museo/Museo700-Regular-webfont.svg) format('svg');
}

@font-face {
  font-family: "Novecento";
  src: url(/novecento/Novecentowide-Normal-webfont.eot);
  src: url(/novecento/Novecentowide-Normal-webfont.eot?iefix) format('eot'), url(/novecento/Novecentowide-Normal-webfont.woff) format('woff'), url(/novecento/Novecentowide-Normal-webfont.otf) format('opentype'), url(/novecento/Novecentowide-Normal-webfont.svg) format('svg');
}

/* line 15, ../../sass/screen.sass */
body {
  color: #333333;
  font: 16px/1.5 "Museo", sans-serif;
  background: #f9efd9;
}

/* line 20, ../../sass/screen.sass */
section {
  margin-left: 2em;
  margin-bottom: 2.5em;
}

/* line 24, ../../sass/screen.sass */
a {
  text-decoration: none;
  color: #a10a0f;
}

/* line 28, ../../sass/screen.sass */
strong {
  color: black;
  font-family: "MuseoBold";
}

/* line 32, ../../sass/screen.sass */
h1, h2, h3, h4 {
  font-family: "Novecento";
  color: #072d2a;
}

/* line 36, ../../sass/screen.sass */
h1 {
  font-size: 2em;
}

/* line 39, ../../sass/screen.sass */
h2 {
  font-size: 1.5em;
}
/* line 42, ../../sass/screen.sass */
h2 img {
  vertical-align: text-top;
}

/* line 45, ../../sass/screen.sass */
h3 {
  font-size: 1.4em;
}

/* line 48, ../../sass/screen.sass */
h4 {
  font-size: 1.2em;
}

/* line 51, ../../sass/screen.sass */
p {
  margin-bottom: 1.5em;
}

/* line 54, ../../sass/screen.sass */
li {
  padding-bottom: 0.5em;
}

/* line 57, ../../sass/screen.sass */
hr {
  width: 35%;
  border-width: 0;
  border-bottom: 1px solid #425564;
  margin-top: 2em;
  margin-bottom: 5em;
}

/* line 64, ../../sass/screen.sass */
.container {
  width: 720px;
  margin: auto;
}

/* line 68, ../../sass/screen.sass */
#crb {
  line-height: 11em;
}

/* line 71, ../../sass/screen.sass */
.name {
  font-family: "Novecento";
  text-transform: uppercase;
  line-height: 12em;
  margin-bottom: 2em;
  color: #a10a0f;
  text-align: center;
}

/* line 79, ../../sass/screen.sass */
#strip {
  background: #7f97aa;
  line-height: 2em;
  text-align: center;
  font-family: "Novecento";
  color: white;
  border-bottom: 2px solid #8a9caa;
}

/* line 87, ../../sass/screen.sass */
#ribbon {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -khtml-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -o-border-top-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -khtml-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #425564), color-stop(100%, #2e3b45));
  background-image: -webkit-linear-gradient(top, #425564, #2e3b45);
  background-image: -moz-linear-gradient(top, #425564, #2e3b45);
  background-image: -o-linear-gradient(top, #425564, #2e3b45);
  background-image: -ms-linear-gradient(top, #425564, #2e3b45);
  background-image: linear-gradient(top, #425564, #2e3b45);
  color: white;
  background-color: #425564;
  text-align: center;
  font-family: "Novecento";
  margin-bottom: 5em;
  line-height: 3em;
  position: relative;
}
/* line 99, ../../sass/screen.sass */
#ribbon a {
  color: white;
}
/* line 102, ../../sass/screen.sass */
#ribbon:before {
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -khtml-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  content: " ";
  position: absolute;
  width: 30px;
  height: 0;
  left: -30px;
  top: 12px;
  border-width: 20px 10px;
  border-style: solid;
  border-color: #2e3b45 #2e3b45 #2e3b45 transparent;
  z-index: -1;
}
/* line 115, ../../sass/screen.sass */
#ribbon:after {
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -khtml-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  content: " ";
  position: absolute;
  width: 30px;
  height: 0;
  right: -30px;
  top: 12px;
  border-width: 20px 10px;
  border-style: solid;
  border-color: #2e3b45 transparent #2e3b45 #2e3b45;
  z-index: -1;
}
/* line 129, ../../sass/screen.sass */
#ribbon a:first-child {
  margin-right: 1em;
}
/* line 132, ../../sass/screen.sass */
#ribbon a:last-child {
  margin-left: 1em;
}

/* line 135, ../../sass/screen.sass */
#top, #bottom {
  overflow: hidden;
  *zoom: 1;
}

/* line 138, ../../sass/screen.sass */
.left {
  float: left;
  width: 48%;
}

/* line 142, ../../sass/screen.sass */
.right {
  float: right;
  width: 48%;
}

/* line 146, ../../sass/screen.sass */
#speakers {
  width: 340px;
}
/* line 149, ../../sass/screen.sass */
#speakers li {
  text-indent: -1em;
  margin-left: 1.5em;
}

/* line 153, ../../sass/screen.sass */
#join {
  position: relative;
}
/* line 156, ../../sass/screen.sass */
#join #tools {
  position: absolute;
  height: 500px;
  width: 500px;
  right: 0;
  bottom: 0;
  background: url(/images/tools.png) no-repeat;
}

/* line 164, ../../sass/screen.sass */
#code_jam {
  -moz-border-radius-topleft: 20px;
  -webkit-border-top-left-radius: 20px;
  -o-border-top-left-radius: 20px;
  -ms-border-top-left-radius: 20px;
  -khtml-border-top-left-radius: 20px;
  border-top-left-radius: 20px;
  -moz-border-radius-topright: 20px;
  -webkit-border-top-right-radius: 20px;
  -o-border-top-right-radius: 20px;
  -ms-border-top-right-radius: 20px;
  -khtml-border-top-right-radius: 20px;
  border-top-right-radius: 20px;
  background: #e15137 url(/images/people.png) bottom center no-repeat;
  padding: 3em 2em;
  padding-bottom: 16em;
  color: #9b2b17;
  margin-top: 8em;
  position: relative;
}
/* line 174, ../../sass/screen.sass */
#code_jam #checkout {
  font-size: 3em;
  text-align: center;
}
/* line 178, ../../sass/screen.sass */
#code_jam .name {
  color: #f9efd9;
  font-family: "MuseoBold";
}
/* line 182, ../../sass/screen.sass */
#code_jam h3 {
  color: #6f1f10;
  border-bottom: 1px solid #9b2b17;
  margin-bottom: 0.5em;
}
/* line 187, ../../sass/screen.sass */
#code_jam a {
  color: white !important;
  border-bottom: 1px dotted #9b2b17;
}
/* line 191, ../../sass/screen.sass */
#code_jam .thirds {
  overflow: hidden;
  *zoom: 1;
}
/* line 194, ../../sass/screen.sass */
#code_jam .thirds .third {
  width: 30%;
  float: left;
  margin-right: 2em;
  color: white;
}
/* line 200, ../../sass/screen.sass */
#code_jam .thirds .third:last-child {
  margin-right: 0;
}
