/* line 17, ../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Museo";
  src: url(/museo/Museo300-Regular-webfont.eot);
  src: url(/museo/Museo300-Regular-webfont.eot?iefix) format('eot'), url(/museo/Museo300-Regular-webfont.woff) format('woff'), url(/museo/Museo300-Regular-webfont.otf) format('opentype');
}

@font-face {
  font-family: "MuseoBold";
  src: url(/museo/Museo700-Regular-webfont.eot);
  src: url(/museo/Museo700-Regular-webfont.eot?iefix) format('eot'), url(/museo/Museo700-Regular-webfont.woff) format('woff'), url(/museo/Museo700-Regular-webfont.otf) format('opentype');
}

@font-face {
  font-family: "Novecento";
  src: url(/novecento/Novecentowide-Normal-webfont.eot);
  src: url(/novecento/Novecentowide-Normal-webfont.eot?iefix) format('eot'), url(/novecento/Novecentowide-Normal-webfont.woff) format('woff'), url(/novecento/Novecentowide-Normal-webfont.otf) format('opentype');
}

/* line 15, ../../sass/screen.sass */
body {
  color: #333333;
  font: 16px/1.5 "Museo", sans-serif;
  background: #f9efd9;
}

/* line 20, ../../sass/screen.sass */
section > * {
  margin-left: 1.5em;
}

/* line 23, ../../sass/screen.sass */
section {
  margin-bottom: 2.5em;
}

/* line 26, ../../sass/screen.sass */
a {
  text-decoration: none;
  color: #a10a0f;
}

/* line 30, ../../sass/screen.sass */
strong {
  color: black;
  font-family: "MuseoBold";
}

/* line 34, ../../sass/screen.sass */
h1, h2, h3, h4 {
  font-family: "Novecento";
  color: #072d2a;
}

/* line 38, ../../sass/screen.sass */
h1 {
  font-size: 2em;
}

/* line 41, ../../sass/screen.sass */
h2 {
  font-size: 1.5em;
}

/* line 44, ../../sass/screen.sass */
h3 {
  font-size: 1.4em;
}

/* line 47, ../../sass/screen.sass */
h4 {
  font-size: 1.2em;
}

/* line 50, ../../sass/screen.sass */
p {
  margin-bottom: 1.5em;
}

/* line 53, ../../sass/screen.sass */
li {
  list-style: disc;
  list-style-position: inside;
  padding-bottom: 0.5em;
}

/* line 58, ../../sass/screen.sass */
hr {
  width: 35%;
  border-width: 0;
  border-bottom: 1px solid #384854;
  margin-top: 2em;
  margin-bottom: 5em;
}

/* line 66, ../../sass/screen.sass */
.container {
  width: 720px;
  margin: auto;
}

/* line 70, ../../sass/screen.sass */
.name {
  font-family: "Novecento";
  text-transform: uppercase;
  line-height: 12em;
  margin-bottom: 2em;
  color: #a10a0f;
  text-align: center;
}

/* line 78, ../../sass/screen.sass */
#ribbon {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #384854), color-stop(100%, #2e3b45));
  background-image: -webkit-linear-gradient(top, #384854, #2e3b45);
  background-image: -moz-linear-gradient(top, #384854, #2e3b45);
  background-image: -o-linear-gradient(top, #384854, #2e3b45);
  background-image: -ms-linear-gradient(top, #384854, #2e3b45);
  background-image: linear-gradient(top, #384854, #2e3b45);
  color: white;
  text-align: center;
  font-family: "Novecento";
  margin-bottom: 5em;
  line-height: 3em;
  position: relative;
}
/* line 87, ../../sass/screen.sass */
#ribbon a {
  color: white;
}
/* line 90, ../../sass/screen.sass */
#ribbon:before {
  content: " ";
  position: absolute;
  width: 30px;
  height: 0;
  left: -30px;
  top: 12px;
  border-width: 20px 10px;
  border-style: solid;
  border-color: #2e3b45 #2e3b45 #2e3b45 transparent;
  z-index: -1;
}
/* line 102, ../../sass/screen.sass */
#ribbon:after {
  content: " ";
  position: absolute;
  width: 30px;
  height: 0;
  right: -30px;
  top: 12px;
  border-width: 20px 10px;
  border-style: solid;
  border-color: #2e3b45 transparent #2e3b45 #2e3b45;
  z-index: -1;
}
/* line 115, ../../sass/screen.sass */
#ribbon a:first-child {
  margin-right: 1em;
}
/* line 118, ../../sass/screen.sass */
#ribbon a:last-child {
  margin-left: 1em;
}

/* line 121, ../../sass/screen.sass */
#top, #bottom {
  overflow: hidden;
  *zoom: 1;
}

/* line 124, ../../sass/screen.sass */
.left {
  float: left;
  width: 48%;
}

/* line 128, ../../sass/screen.sass */
.right {
  float: right;
  width: 48%;
}

/* line 132, ../../sass/screen.sass */
#speakers {
  width: 340px;
}
/* line 135, ../../sass/screen.sass */
#speakers li {
  text-indent: -1em;
  margin-left: 1.5em;
}

/* line 139, ../../sass/screen.sass */
#code_jam {
  background: #e15137;
  padding: 3em 2em;
  padding-bottom: 16em;
  color: #9b2b17;
  margin-top: 8em;
  position: relative;
  -moz-border-top-left-radius: 20px;
  -webkit-border-top-left-radius: 20px;
  -moz-border-top-right-radius: 20px;
  -webkit-border-top-right-radius: 20px;
}
/* line 151, ../../sass/screen.sass */
#code_jam #checkout {
  font-size: 3em;
  text-align: center;
}
/* line 155, ../../sass/screen.sass */
#code_jam .name {
  color: #f9efd9;
  font-family: "MuseoBold";
}
/* line 159, ../../sass/screen.sass */
#code_jam h3 {
  color: #6f1f10;
  border-bottom: 1px solid #9b2b17;
  margin-bottom: 0.5em;
}
/* line 164, ../../sass/screen.sass */
#code_jam a {
  color: white !important;
  border-bottom: 1px dotted #9b2b17;
}
/* line 168, ../../sass/screen.sass */
#code_jam .thirds {
  overflow: hidden;
  *zoom: 1;
}
/* line 171, ../../sass/screen.sass */
#code_jam .thirds .third {
  width: 30%;
  float: left;
  margin-right: 2em;
  color: white;
}
/* line 177, ../../sass/screen.sass */
#code_jam .thirds .third:last-child {
  margin-right: 0;
}
