<section class="mt-8">
    <div id="who-uses-ruby">
        <h2 class="text-2xl font-title text-gray-900">Who Are We?</h2>
        <p class="my-2">Columbus Ruby Brigade is organized and brought to you each month by the Board of Directors of Columbus Ruby Brigade, Inc, a 501(c)(3) non-profit corporation dedicated to software development education.</p>

        <h3 class="text-xl font-title text-gray-900">Board of Directors</h3>

        <%= render 'board_members', board_members: @board_members %>
    </div>

</section>
