<section class="mt-8">
    <div id="who-uses-ruby">
        <h2 class="text-2xl font-title text-gray-900">Who's using Ruby?</h2>

        <p class="my-2">Have you ever wondered who's using Ruby in Columbus, or do you want to find Ruby developers who want to work at your company?</p>
        <p class="my-4">Want to get your company on the list? <a href="https://github.com/columbusrb/columbusrb.com/blob/master/public/companies.yml" class="underline text-blue-800">Put in a Pull Request and add yourself to our list!</a></p>

        <table class="my-2 w-full">
            <thead class="font-bold">
                <tr class="border-b-3">
                    <th class="py-2">Name</th>
                    <th class="py-2">Market</th>
                    <th class="py-2">Location</th>
                </tr>
            </thead>
            <tbody>
                <% COMPANIES.each do |company| %>
                    <tr class="even:bg-gray-300 border-t-2">
                        <td class="p-2"><%= link_to company.name, company.url %></td>
                        <td class="p-2"><%= company.market %></td>
                        <td class="p-2"><%= company.location %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</section>
