section#crb_labs
  h2 CRB Labs

  markdown:
    CRB Labs' goal is to develop and release great [Open Source software][1] while also teaching core [Ruby][1] and [Rails][2] concepts to class participants. By helping us develop our software, contributors gain:

    * Ruby and Rails experience
    * Another line item on your resume
    * How to contribute to any Open Source project

    [1]:http://en.wikipedia.org/wiki/Open-source_software
    [2]:http://ruby-lang.org
    [3]:http://rubyonrails.com
