section#what
  h2 Who? What? Huh?
  markdown:
    We are a bunch of professionals, students, and geeks who are excited about [Ruby programming language][1] and [Rails framework][2] and the joy they have brought back to web development.
    Our main goal is to share the love of the Ruby and Rails ecosystems to anyone that is interested. We cater to everyone, whether a non-programmer through advanced Rubyists.

    * We give free Ruby / Rails classes
    * We give lectures on various programming topics and concerns
    * We develop and release [Open Source software][3]
    * We freely provide decades worth of experience in the industry

    [1]:http://ruby-lang.org
    [2]:http://rubyonrails.com
    [3]:http://en.wikipedia.org/wiki/Open-source_software
