<section>
    <div id="who-are-we">
        <h2 class="text-2xl font-title text-gray-900">What's Columbus Ruby Brigade?</h2>
        <p>We are a bunch of professionals, students, and geeks who are excited about Ruby programming language and Rails framework and the joy they have brought back to web development. Our goal is to provide a welcoming environment to speak and share knowledge to all level of programmers who are interested in Ruby, the Rails framework, and professional development.</p>

        <ol class="list-disc list-inside mt-4">
            <li>We give lectures on programming topics</li>
            <li>We develop and release Open Source software</li>
            <li>We freely provide decades worth of experience</li>
        </ol>
</section>
