doctype html
html
  head
    meta(http-equiv="content-type" content="text/html; charset=utf-8")
    meta(name="language" content="en")
    meta(name="description" content="Columbus Ruby Brigade is a collection of professionals excited about Ruby")
    meta(name="keywords" content="ruby columbus programming usergroup rails javascript web development")
    = stylesheet_link_tag "https://fonts.googleapis.com/css?family=Zilla+Slab&display=swap"
    = stylesheet_link_tag "https://rsms.me/inter/inter.css"
    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application'

    title Columbus Ruby Brigade

    = csrf_meta_tags

  body class="text-base font-sans"
    div style="background-image: url('#{asset_pack_path('media/images/101.jpg')}')"

      div class="bg-purple-700 text-gray-200 font-semibold align-top p-1 text-center font-serif"
        p Established 2005 &mdash; #{@members} members strong

      div class="bg-purple-900 p-4"
        div class="container mx-auto px-6 flex items-center flex-wrap"
          div class="lg:w-2/3 relative"
            div class="text-gray-200"
              h1.text-2xl.font-extrabold Columbus Ruby Brigade
              div class="font-extrabold align-bottom" Next Meeting:
              div.pt-0
                = formatted_date(@next_crb.time)
                |  at Root Insurance
              div class="font-bold align-bottom text-xl my-2" Speaking:
              = render collection: @next_crb.speakers, partial: 'pages/speaker' || "<p>There aren't any speakers signed up. Yet.</p>"
          div class="p-16 lg:p-0 lg:w-1/3"
            = image_pack_tag('media/images/logo.png', class: 'md:m-auto')

    div class="container mx-auto px-6"
      = render 'companies'

  = render 'footer'
