section#what
  h2 What We Do
  p Our only purpose is to get together and geek out about one of the best languages ever developed. We talk about the zen of programming. When we get tired of talking about it, we invite others in to talk about it to us. Networking and socializing are just great perks that come along with the territory.

