@import "bourbon";
@import "neat";

$modular-scale-ratio: $minor-second;

$white: #FEFFFF;
$gray: #999999;
$lightgray: #F5F5F5;
$black: #41463F;
$scarlet: #95080C;
$links: $white;

$mobile: new-breakpoint(max-width 480px);
$desktop: new-breakpoint(min-width 850px);

body {
  color: $white;
  margin: 0;
  font-size: modular-scale(0);
  background-color: $white;
  background-image: url(/assets/101.jpg);
  background-size: cover;
}

p {
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
}

h1 {
  font-size: modular-scale(15);
}

section {
  @include span-columns(12);
  padding-bottom: 5em;
}

h2 {
  font-size: modular-scale(4);
}

img {
  border-radius: 0.5em;
}

a {
  text-decoration: none;
  color: $links;
  text-shadow: 0px 0px 20px $white;
}

#content {
  @include outer-container;
}

#title {
  @include clearfix;
  margin: 5em 0;

  img {
    @include span-columns(5);
  }

  .name {
    @include span-columns(7);
    color: $white;

    h1 {
      padding: 0;
      margin: 0;
      line-height: 1em;
      font-size: modular-scale(32);

      &:first-child {
        margin-top: 0.2em;
      }
    }
  }
}

#strip {
  @include clearfix;
  color: $white;
  padding: 0.5em 1em;
  font-size: modular-scale(-2);

  .since {
    @include span-columns(6 of 12);
  }

  .next-meeting {
    @include span-columns(6 of 12);
    text-align: right;

    span.label {
      font-weight: bold;
    }

    span.date {
      padding-left: 0.5em;
    }
  }
}

#hero {
  position: relative;

  img {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

#next-meeting {
  @include span-columns(7 of 12);
  font-size: modular-scale(6);

  h2 {
    line-height: 1em;
    padding:0;
    margin:0;
  }

  p {
    margin-bottom: 1.5em;
  }

  .speaker {
    @include clearfix;
    padding-bottom: 2em;

    .name {
      font-weight: bold;
    }

    .title {
      font-style: italic;
      font-size: modular-scale(-1);
    }
  }
}

#location {
  @include span-columns(5 of 12);

  img {
    height: 370px;
    width: 370px;
    margin-bottom: 1em;
  }

  .address {
    h2 {
      margin: 0;
      padding: 0;
    }
  }
}

#links {
  @include span-columns(12);

  h2 {
    color: $white;
  }

  a {
    @include span-columns(2);
    font-size: modular-scale(4);
    color: $white;
    text-align: center;
    text-transform: uppercase;
  }
}

#videos {
  .video {
    @include span-columns(4);
    font-size: modular-scale(-2);
    margin-bottom: 3em;

    &:nth-of-type(3n) {
      @include omega;
    }
    img {
      width: 100%;
      height: 200px;
    }
    .name {
      font-weight: bold;
      margin-top: 1em;
    }
    .title {
      font-style: italic;
    }
  }

  #more {
    @include span-columns(12);
    font-size: modular-scale(-4);
    text-align: right;
    margin-top: 2em;
    text-transform: uppercase;
  }
}

#what {
  @include span-columns(6 of 12);
}

#crb-labs {
  @include span-columns(6 of 12);
}

#board {
  p {
    margin: 0;
    padding: 0;
  }
  .director, .member {
    @include span-columns(6 of 12);
    @include omega(2n);
    margin-bottom: 2em;

    .left {
      @include span-columns(4 of 12);
      img {
        width: 180px;
        height: 180px;
      }
    }

    .right {
      @include span-columns(8 of 12);
      @include omega();

      .name {
        font-weight: bold;
        color: $scarlet;
        font-size: modular-scale(2);
      }
      .title {
        font-style: italic;
        font-size: modular-scale(1);
      }
      .bio {
        margin-top: 0.75em;
      }
    }
  }

  .director {
    @include span-columns(12);

    .left {
      @include span-columns(2 of 12);
    }
    .right {
      @include span-columns(10 of 12);
    }
  }
}

#sponsors {
  @include clearfix;
  padding: 3em;
  background: $white;
  border-radius: 0.5em;
  text-align: center;

  a {
    @include span-columns(4 of 12);

    &:nth-of-type(3n) {
      @include omega;
    }

    img {
      max-width: 200px;
      max-height: 60px;
    }
  }
}

#alert {
  background: $scarlet;
  width: 100%;
  color: white;
  text-align: center;
  padding: 1em 0;
  text-transform: uppercase;

  p {
    margin: 0;
    padding: 0;
  }

  strong {
    font-weight: bold;
    padding-right: 0.5em;
  }
}

#notice {
  h1 {
    font-size: modular-scale(30);
    text-align: center;
    line-height: 1em;
  }

  section.when {
    color: $scarlet;
    font-size: modular-scale(6);
    text-align: center;
    font-style: italic;
  }

  #info {
    @include span-columns(7);

    section {
      margin: 0em;
      padding: 0em;

      &.questions {
        margin-top: 3em;
      }

      &.where {
        h4 {
          margin: 0;
        }

        p {
          margin-bottom: 0;

          &:nth-child(2) {
            margin-bottom: 1em;
          }
        }
      }
    }
  }

}
