@import "bourbon";
@import "neat";

$modular-scale-ratio: $minor-second;

$white: #FEFFFF;
$gray: #999999;
$lightgray: #F5F5F5;
$black: #41463F;
$scarlet: #D33336;

$mobile: new-breakpoint(max-width 480px);
$desktop: new-breakpoint(min-width 850px);

body {
  background: $white;
  color: $black;
  margin: 0;
  font-size: modular-scale(1);
}

p {
  margin: 0;
  padding: 0;
}

section {
  @include span-columns(12);
  padding-bottom: 5em;
}

h2 {
  font-size: modular-scale(4);
}

img {
  border-radius: 0.5em;
}

a {
  text-decoration: none;
  color: $scarlet;
}

#content {
  @include outer-container;
}

#title {
  position: relative;

  h1 {
    font-size: modular-scale(26);
    color: $scarlet;
    line-height: 1em;
    text-align: center;
    padding: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .since {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: modular-scale(-2);
    padding-right: 0.4em;
    font-style: italic;
    color: $gray;
  }
}

#strip {
  background: $scarlet;
  color: $white;
  padding: 0.5em 1em;
  text-align: right;
  font-size: modular-scale(-2);

  span.label {
    font-weight: bold;
  }

  span.date {
    padding-left: 0.5em;
  }
}

#hero {
  position: relative;

  img {
    height: 500px;
    width: 100%;
    border-radius: 0;
  }
}

#next-meeting {
  @include span-columns(5 of 12);
  font-size: modular-scale(2);

  p {
    margin-bottom: 1.5em;
  }

  .speaker {
    @include clearfix;
    padding-bottom: 1em;

    .left {
      @include span-columns(1 of 5);
      img {
        height: 80px;
        width: 80px;
      }
    }
    .right {
      @include span-columns(4 of 5);
      @include omega();
      padding-top: 0.7em;

      .name {
        font-weight: bold;
      }

      .title {
        font-style: italic;
      }
    }
  }
}

#location {
  @include span-columns(4 of 12);

  img {
    height: 300px;
    width: 300px;
    margin-bottom: 1em;
  }
}

#stats {
  @include span-columns(3 of 12);
  @include omega();
  text-align: right;
  font-size: modular-scale(2);

  p {
    margin-bottom: 1em;
  }
}

#links {
  a {
    @include span-columns(3);
    @include omega(4n);
    font-size: modular-scale(3);
    background: $scarlet;
    color: $white;
    padding: 0.4em 0;
    text-align: center;
    border-radius: 4px;
    text-transform: uppercase;

    img {
      @include span-columns(5 of 12);
      width: 32px;
      height: 32px;
    }
    p {
      @include span-columns(7 of 12);
    }
  }
}

#videos {
  .video {
    @include span-columns(4);
    font-size: modular-scale(-2);
    margin-bottom: 2em;

    &:nth-of-type(3n) {
      @include omega;
    }
    img {
      width: 100%;
      height: 200px;
    }
    .name {
      font-weight: bold;
    }
    .title {
      font-style: italic;
    }
  }

  #more {
    @include span-columns(12);
    font-size: modular-scale(-4);
    text-align: right;
    margin-top: 2em;
    text-transform: uppercase;
  }
}

#what {
  @include span-columns(6 of 12);
}

#crb-labs {
  @include span-columns(6 of 12);
}

#board {
  p {
    margin: 0;
    padding: 0;
  }
  .director, .member {
    @include span-columns(6 of 12);
    @include omega(2n);
    margin-bottom: 2em;

    .left {
      @include span-columns(4 of 12);
      img {
        width: 180px;
        height: 180px;
      }
    }

    .right {
      @include span-columns(8 of 12);
      @include omega();

      .name {
        font-weight: bold;
        color: $scarlet;
        font-size: modular-scale(2);
      }
      .title {
        font-style: italic;
        font-size: modular-scale(1);
      }
      .bio {
        margin-top: 0.75em;
      }
    }
  }

  .director {
    @include span-columns(12);

    .left {
      @include span-columns(2 of 12);
    }
    .right {
      @include span-columns(10 of 12);
    }
  }
}

#sponsors {
  a {
    @include span-columns(3 of 12);
    @include omega(4n);

    img {
      max-width: 200px;
      max-height: 200px;
      background: white;
    }
  }
}
