/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .left, .right{
    width: 100%;
  }
  #crb {
    line-height: 10em;

    #columbus {
      margin-top: 0em;
      line-height: 1.15em;
    }
  }
  #next-meeting {
    margin-top: 3em;

    section {
      width: 60%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}